/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

@media screen and (max-width: 768px) {
        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
      
      @media screen and (max-width: 480px) {
        h1 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.8rem;
        }
/* fin css reset */

